.container {
    width: 1170px;
    margin: auto;

    background-image: url(./pictures/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #FFFFFF;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #FFFFFF;

}

.header {
    max-width: 93%;
    display: flex;
    justify-content: space-between;
    margin: 46px auto 17px;
}



.logo {
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 51px;
    position: relative;
}



.logo::before {
    content: "";
    background-image: url(./pictures/logo\ 3\ \(1\).png);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    left: -61px;
    cursor: pointer;
}

.logo:hover a {
    color: #F26522;
}
 
.logo:hover::before{
    content: "";
    background-image: url(./pictures/logo\ 2.png);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    left: -61px;
    cursor: pointer;
}



.milan {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.holidays {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.info-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.info-link:hover {
    color: #F26522;

}

.number {
    padding-left: 74px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper-item {
    width: 33%;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 37px;
    position: relative;

}


.wrapper-item:hover a {
    color: #F26522;

}

.wrapper-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.wrapper-img {
    width: 100%;
    margin-bottom: 20px;
}

.add-info {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-top: 49px;
    margin-bottom: 15px;
    text-align: center;
}

.animation {
    display: flex;
    gap: 170px;
    position: absolute;
    width: 326px;
    height: 55px;
    background: #F26522;
    bottom: 44px;
    display: none;
}

.wrapper-item:hover .animation {
    display: flex;
}

.cost {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto';

}

.from {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.details {
    font-family: 'Roboto';
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
margin-top: 29px;
position: relative;
}

.details::after {
    content: 	"\203A";
    display: block;
    position: absolute;
    right: -16px;
    top: 0;
  
}